@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Patrick+Hand&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #282626;
  --secondary-color: #fdfdee;
  --tertiary-color: #60a3ea;
  --shadow-1: 1px 2px 4px rgba(255, 255, 255, 0.9),
    2px 4px 8px rgba(236, 236, 236, 0.8);
}

body {
  color: var(--secondary-color);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

img {
  max-width: 50%;
}

a,
button,
a:hover,
a:focus,
button:focus {
text-decoration: none;
}

ul,
ol {
padding: 0;
list-style-type: none;
}

h5,
.phrase,
.about,
.about-title,
.card,
.card-title,
.card-text {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
.nav-link,
.intro-p,
.footer-p,
.card-btn,
.projects-phrase,
.fa-brands {
  color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus,
.card-btn:hover {
  color: var(--tertiary-color);
}

.projects,
.card-btn,
.projects-phrase,
.contact-content {
  background-color: var(--primary-color);
}

.card,
.card-title {
  background-color: var(--secondary-color);
}

.about,
.contact,
.nav-toggle:focus,
.nav-toggle:hover {
  background-color: var(--tertiary-color);
}

h2 {
font-family: 'Patrick Hand', cursive;
font-size: 2.2rem;
line-height: 1.2;
}

h3,
.fa-brands {
font-size: 1.6rem;
}

h5 {
font-size: 1.2rem;
}

.intro-title,
.intro-p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.phrase {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: -.3rem;
  padding-top: 2rem;
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* Botão de rolagem superior com um clique */
.scroll-top {
  width: 2rem;
  height: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border: .1rem solid var(--secondary-color);
  border-radius: .3rem;
  position: fixed;
  bottom: .8rem;
  right: .8rem;
  z-index: 1;
  cursor: pointer;
  transition: all .3s ease-out 0s;
}
.scroll-top:hover {
  color: var(--tertiary-color);
  box-shadow: 0 1rem 3rem var(--secondary-color);
  transform: translate3d(0, -8px, 0);
}

/*===== Barra de navegação =====*/
.change-language {
  color: var(--secondary-color);
  position: absolute;
  right: 2.5rem;
  text-align: left;
  top: .7rem;
  width: 280px;
}
.united-states-flag {
  position: absolute;
  right: 6rem;
  top: .5rem;
  width: 2.5rem;
}
.navbar {
  background-color: var(--primary-color);
  padding: .5em 0;
}
.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}
.open-nav-btn {
  color: var(--secondary-color);
  position: absolute;
  top: .7rem;
  right: .7rem;
  z-index: 2;
}
.close-nav-btn {
  color: var(--secondary-color);
  position: absolute;
  font-size: 2rem;
  top: 1rem;
  right: 1rem;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.close-nav-btn:hover {
  color: var(--tertiary-color);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}
.nav.visible {
  transform: translateX(0);        
}
.nav-primary {
  background-color: var(--secondary-color);
  width: 50%;
  max-width: 250px;
  transition-delay: 0.3s;
}
.nav-primary.visible {
  transition-delay: 0s;
}
.nav-secondary {
  background-color: var(--primary-color);
  width: 95%;
  transition-delay: 0.2s;
}
.nav-secondary.visible {
  transition-delay: 0.2s;
}
.sidebar-content {
  padding: 3.5rem 1rem 0;
  text-align: left;
}
.logo, 
.sidebar-logo {
  color: var(--secondary-color);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.5rem;
}
.logo {
  position: absolute;
  left: 0;
}
.sidebar-logo:hover {
  color: var(--tertiary-color);
  transition: all 0.2s ease-out 0s;
}
.titles {
  color: var(--tertiary-color);
  margin: -1rem 0 -.5rem;
  font-size: 1.2rem;
}
.sidebar-social .titles {
  margin: 1rem 0 -1.5rem;
}
.sidebar-menu {
  margin-top: 1.5rem;
}
.sidebar-menu-list {
  margin-top: .8rem;
}
.sidebar-menu-list-link {
  color: var(--secondary-color);
  font-size: 1rem;
  padding: .5rem 0;
  opacity: .9;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sidebar-menu-list-link:hover {
  color: var(--tertiary-color);
  padding-left: .4rem;
}
.sidebar-social-list {
  display: inline-block;
  margin-right: 1.2rem;
}
.sidebar-social-link {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 2rem;
  width: 3rem;
  height: 1rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sidebar-social-link:hover {
  transform: rotate(360deg) scale(150%);
  transition: 0.4s linear;
}
.overlay-left {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.overlay-left.open {
  display: block;
}

/*===== Início da seção Intro =====*/
.intro {
  background-color: var(--primary-color);
  padding: 5rem 0;
}
.intro-span {
  color: var(--tertiary-color);
  display: block;
  font-family: 'Patrick Hand', cursive;
  font-size: 6rem;
  margin: -1rem 0 -1.6rem;
  max-width: 100%;
}
.intro-title {
  font-size: 1.3rem;
}
.intro-text {
  font-size: 1.6rem;
}
.intro-image,
.about-image {
  width: 50%;
  margin: 3rem auto 0;
}
.intro-picture,
.about-picture {
  border-radius: .5rem;
}

/*===== Projects Section=====*/
.projects,
.about,
.contact,
.contact-wrapper  {
  padding: 2rem 0 1.5rem;
}
.projects-title,
.card {
  margin-bottom: 2rem;
}
.card-img {
  max-width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}
.card-btn {
  font-weight: bold;
  letter-spacing: .20em;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: .8em;
  border-radius: .3rem;
  transition: color 0.15s ease-in-out;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

/*====	Início da seção Contato ====*/
.social-media-icons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 45%;
}
.contact-title {
  color: var(--primary-color);
  margin: 1.7rem auto;
}
.card-title,
.social-media-block {
  margin: 0 auto;
}
.fa-brands:hover {
  transform: rotate(360deg)  scale(180%);
  transition: 0.3s linear;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.9rem 0;
  padding: 0 auto;
}
.intro-picture:hover,
.about-picture:hover,
.contact-wrapper,
.contact-item {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: .6rem;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.intro-picture:hover,
.about-picture:hover,
.card:hover,
.contact-wrapper:hover,
.contact-item:hover {
  box-shadow: var(--shadow-1);
}
.col-contact-wrapper {
max-width: 75%;
margin-left: 12.5%;
}
.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  width: 44px;
  height: 44px;
  margin: 20px 0 5px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.contact-content {
  max-width: 70%;
}
.contact-content-title {
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin: .5rem auto 0;
}

/* Rodapé */
.footer {
  background-color: var(--primary-color);
  font-size: .6rem;
  letter-spacing: .2rem;
  padding: .1rem;
}

/* Media Querie max-width: 430px */
@media (max-width: 430px) {
  img {
    max-width: 75%;
  }
  /* Barra de Navegação */
  .logo {
    top: .5rem;
  }
  .change-language {
    width: 170px;
    top: 1rem;
    right: 0;
    font-size: .8rem;
    text-align: left;
  }
  .united-states-flag {
    width: 1.4rem;
    top: .9rem;
    right: 2.8rem;
  }
  /* Seção Contato */
  .social-media-icons {
    max-width: 85%;
  }
}

/* Media Querie max-width: 699px */
@media (min-width: 431px) and (max-width: 699px) { 
  /* Barra de Navegação */
  .logo {
    top: .4rem;
  }
  .change-language {
    width: 260px;
    top: .7rem;
    right: 0;
    font-size: 1.2rem;
    text-align: left;
  }
  .united-states-flag {
    width: 2.2rem;
    top: .5rem;
    right: 4rem;
  }
  .sidebar-logo {
    font-size: 1.8rem;
  }
  /* Seção Intro */
  .intro-span {
    font-size: 7rem;
    margin: -1.2rem 0 -1.7rem;
  }
  .intro-title {
    font-size: 1.4rem;
  }
  .intro-text {
    font-size: 1.7rem;
  }
  /* Seção Contato */
  .social-media-icons {
    max-width: 65%;
  }
}

/* Media Querie min-width: 600px */
@media (min-width: 600px) {
  /* Barra de Navegação */
  .sidebar-logo {
    font-size: 2.2rem;
  }
  .fa-brands {
    font-size: 2rem;
  }
  /* Seção Intro */
  .intro-span {
    font-size: 9rem;
    margin: -1.6rem 0 -2.4rem;
  }
  .intro-title {
    font-size: 1.6rem;
  }
  .intro-text {
    font-size: 2.3rem;
  }
  /* Seção Projetos */
  .projects .row {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 48% 48%;
  }
  .card-body{
    min-height: 360px;
  }
  .card-body {
    padding: 1.5rem 1rem;
  }
  .card-title {
    margin: -1rem 0 0;
  }
  .card-btn {
    margin-top: auto;
  }
  /* Seção Contato */
  .contact-wrapper-text {
    max-width: 75%;
    margin: 1.5rem auto 0;
  }
}

/* Media Querie min-width: 900px */
@media (min-width: 900px) {
  .row {
    display: flex;
    justify-content: space-between;
  }
  img {
    max-width: 70%;
  }
  h2 {
    font-size: 2.7rem;
  }
  /* Barra de Navegação */
  .logo {
    cursor: default;
    font-size: 1.8rem;
  }
  .nav-btn {
    font-size: 1.9rem;
  }
  .open-nav-btn {
    position: absolute;
    right: 0;
    top: .6rem;
  }
  .close-nav-btn {
    font-size: 2.2rem;
  }
  .nav-primary {
    max-width: 300px;
    min-width: 280px;
  }
  .sidebar-logo {
    font-size: 2.5rem;
  }
  .titles {
    font-size: 1.4rem;
  }
  .sidebar-social .titles {
    margin-top: 2.5rem;
  }
  .sidebar-menu, .sidebar-menu-list {
    margin-top: 1rem;
  }
  .sidebar-menu-list-link {
    font-size: 1.2rem;
  }
  /* Seção Intro */
  .intro {
    padding: 5.6rem 0 6.2rem;
  }
  .intro-picture {
    max-width: 40%;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
  }
  .intro-title {
    text-align: left;
  }
  .intro-span {
    margin: -2.5rem 0 -4.7rem;
  }
  .intro-p {
    font-size: 1.9rem;
    margin-bottom: 0;
    text-align: left;
  }
  /* Seção Sobre Mim */
  .about .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-title {
    font-size: 3rem;
    margin-bottom: 2.8rem;
  }
  .about-picture {
    max-width: 40%;
  }
  .about-content {
    max-width: 50%;
  }
  /* Seção Projetos */
  .projects .row {
    grid-template-columns: 32% 32% 32%;
  }
  .card-body{
    min-height: 400px;
  }
  /* Seção Contato */
  .contact .row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fa-brands {
    margin: 1rem 0 .5rem;
    font-size: 2.2rem;
  }
}

/* Media Querie min-width: 1150px */
@media (min-width: 1150px) {
  /* Section Intro */
  .intro-title {
    font-size: 2rem;
  }
  .intro-span {
    font-size: 11.5rem;
    margin: -3.5rem 0 -5.7rem;
  }
  .intro-p {
    font-size: 2.4rem;
  }
  /* Seção Projetos */
  .card-body{
    min-height: 325px;
  }
}